html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.list{
    position: absolute;
    top: 15%;
    left: 10px;
    background-color: #b3b3b3;
    border: 1px solid gray;
    padding: 15px 10px;
    width: 15%;
    border-radius: 10px;
}

.list ul{
    list-style-type: none;
    display: inline;
    line-height: 1em;
    cursor: pointer;
}

.search {
    position: absolute;
    top: 25px;
    left: 10px;
    background-color: #b3b3b3;
    border: 1px solid gray;
    padding: 15px 10px;
    width: 15%;
    border-radius: 10px;
}

.search input {
    width: 80%;
    padding: 10px;
}
